body {
    font-family: Lucida Grande, Tahoma, sans-serif;
/*    background: #ffebcd;*/
    background: #ffa62f;
    background: white;
    margin:0px;
}
.benevoles {
    width: 75%;
    float: left;
}
.benevole {
    width: 600px;
    padding: 5px;
    border: solid;
    border-radius: 10px;
    font-size: 200%;
    display: inline-block;
    background: white;
}
.benevole .prenom {
    display: inline;
    margin: 5px;
    font-size: 80%;
}
.benevole .nom {
    display: inline;
    margin: 5px;
}
.benevole .info {
/*    float: left;*/
    display: inline-block;
}
.benevole .association {
    margin: 5px;
    font-size: 80%;
    font-style: italic;
}
.benevole .tshirt,.repas {
    float: right;
    width: 100px;
    height: 75px;
    font-size: 70%;
    font-weight:900;
    text-align: center;
}
.repas .img {
    background: url('../img/repas.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 80px;
    opacity: 0.3;
    position: absolute;
}
.tshirt div {
    background: rgba(255,255,255,0.7);
    display: block;
    width: 40px;
    margin-left: auto;
    margin-right: auto;    
}
.tshirt {
    background: url('../img/tshirt-h.png');
    background-size:100% 100%;
    opacity: 0.1;
}
.tshirt.homme {
    background: url('../img/tshirt-h.png');
    background-size:100% 100%;
    opacity: 1;
}
.tshirt.femme {
    background: url('../img/tshirt-f.png');
    background-size:100% 100%;
    opacity: 1;
}
.noninscrit .tshirt {
    opacity: 0.4;
}
.repas .aucun,.pris {
    float: left;
    width: 50%;
    position: relative;
    color: transparent;
}
.repas .pris {
    background: url('../img/repas-normal.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.repas .aucun {
    background: url('../img/repas-aucun.png');
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
	opacity: 0.5;
}
.repas.vegetarien .pris {
    background: url('../img/repas-vegetarien.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.noninscrit .pris {
    opacity: 0.4
}
.selectionneur {
    width: 30%;
}
.selectionneur input {
    width: 90%;
    padding: 5px;
    font-size: 120%;
}
.selectionneur .menu {
    position: fixed;
    left:0px;
    bottom: 42px;
    width: 100%;
}
.selectionneur .benevoles {
    width: 60%;
}
.selectionneur .suite {
    width: 500px;
    padding: 5px;
    border: solid;
    border-radius: 10px;
    font-size: 140%;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.3) rgba(0,0,0,.6) rgba(0,0,0,.3);
    display: none;
}
.selectionneur .benevole {
    width: 500px;
    font-size: 120%;
    background: white;
    display: block;
}
.selectionneur .identite {
    margin-right: 20px;
}
.selectionneur .benevole * {
    display: inline;
}
.selectionneur .association {
    float: right
}
.selectionneur .benevole .tshirt {
    display: none;
}
.selectionneur .benevole .repas {
    display: none;
}
.barre {
    background: lightgray;
    width: 100%;
    position: fixed;
    left:0px;
    bottom: 0px;
    padding: 5px;
    height: 36px;
}
.barre div {
    display: inline-block;
}
.barre * button {
    margin-top: -10px; /* ? */
    height: 36px;
    font-size: 140%;
}
.importeur .dialog {
    display:none;
    position: fixed;
    left: 440px;
    bottom: 40px;
    width: 600px;
    height: 400px;
    border: solid;
    border-radius: 10px;
    background: lightgrey;
}
.importeur textarea {
    width: 99%;
    height: 87%;
    margin-bottom: 10px;
}
.importeur .actions {
    width: 100%;
    height: 15%;
    margin: 5px;
}
.importeur .actions .checkbox {
    margin-right: 15px
}
.benevole.auteur {
    background: linear-gradient(to top, orange 0%, white 33%, white 66%,  orange 100%);
}
.benevole.auteur.noninscrit {
    background: linear-gradient(to top, orange 0%, lightgray 33%, lightgray 66%,  orange 100%);
}
.benevole.noninscrit {
    background: lightgrey;
}
.legende {
/*    width: 15%;
    height: 300px;*/
    float: right;
    margin: 0px;
    padding: 0px;
}
.legende .bouton {
    transform-origin: 80% 80%;
    transform: rotate(270deg);
    border-color: black;
    border: solid;
    border-width: 1px;
    padding: 5px;
    border-radius: 10px;
    float:left;
    margin: -7px;
    position: relative; z-index: 8;
}
.legende .contenu {
    float:right;
    background: rgb(240,240,240);
    width: 270px;
    position: relative; z-index: 9;
}
.legende .texte {
    font-size: 60%;
}
.legende .benevole {
    font-size: 100%;
    width: 93%;
    border-color: gray;
    border-width: 1px;
}
.legende .benevole.festival {
    background: white
}
.legende .tshirt {
    width: 40%;
    height: 100%
}
.legende .tshirt div {
    background: rgba(255,255,255,0);
}
div.tooltip {
	outline:none; 
}
div.tooltip:hover {
	text-decoration:none;
}
div.tooltip span {
	z-index:10;
	display:none;
	padding: 4px 4px;
	margin-left:14px;
	line-height:16px;
	font-size: 50%;
	width: 200%
}
div.tooltip:hover span {
	display:inline;
	position:absolute; color:#111;
    border:1px solid #DCA;
	background:#fffAF0;
}
div.tooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}
.callout {
	z-index:20;
	position:absolute;
	border:0;
	left:-12px;
}
.annul {
    position: absolute;
    margin-top: -85px;
    margin-left: 580px;

    display:none;
    width: 30px;
    height: 30px;
    background-image: url('../img/annulation.png') ;
    background-size: calc(100%-2px);
    background-repeat: no-repeat;
    background-position: center;
    padding: 2px;
    text-align: center;
    color: transparent;
    background-color: lightgray;
    border-radius: 8px;
    border: 2px solid;
    box-shadow: 5px 5px 8px #CCC;
    border-color: red;
}
.benevole:hover .annul {
    display:block;
}
.selectionneur .benevoles:hover .annul{
    display:none;
}
.selectionneur .benevoles .annul {
    display:none;
}
span.deleteicon {
	position: relative;
}
span.deleteicon span {
	position: absolute;
	display: block;
	top: 0px;
	right: 8px;
	width: 20px;
	height: 20px;
	background: url('../img/clear.png');
	cursor: pointer;
	opacity: 0.5;
}
span.deleteicon input {
	padding-right: 16px;
}
