body {
    font-family: Lucida Grande, Tahoma, sans-serif;
/*    background: #ffebcd;*/
    background: #ffa62f;
    background: white;
}
.benevole {
    width: 30%;
    padding: 5px;
    border: solid;
    border-radius: 10px;
    font-size: 200%;
}
.prenom {
    margin: 5px;
    display: inline;
}
.nom {
    display: inline;
    margin: 5px;
    font-size: 80%;
}
.association {
    margin: 5px;
    font-size: 80%;
    font-style:italic;
}
.selectionneur input {
    width: 30%;
    padding: 5px;
    font-size: 120%;
}
.selectionneur .benevoles {
    position: fixed;
    left:0px;
    bottom: 42px;
    width: 100%;
}
.selectionneur .suite {
    position: fixed;
    left:0px;
    bottom: 81px;
    width: 30%;
    padding: 5px;
    border: solid;
    border-radius: 10px;
    font-size: 140%;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.3) rgba(0,0,0,.3) rgba(0,0,0,.6);
    display: none;
}
.selectionneur .benevole {
    font-size: 120%;
    background: white;
}
.selectionneur .benevole * {
    display: inline;
}
.barre {
    background: lightgray;
    width: 100%;
    position: fixed;
    left:0px;
    bottom: 0px;
    padding: 5px;
    height: 36px;
}
